<strong>Recuperação de senha</strong>

<p>Nova solicitação de recuperação de senha para {{ email }}</p>

<p>Para recuperar a sua senha, clique no link abaixo:</p>

<a href="{{ link }}">Criar nova senha</a>
